<div class="handler-control-row">
  <label>Composite two waves</label>
  <mat-slide-toggle [(ngModel)]="isComposite" (ngModelChange)="toggleComposite()">{{ isComposite ? 'Composited' : 'Divided'}}</mat-slide-toggle>
</div>
<div class="handler-control-row">
  <label>Particle Style</label>
  <mat-radio-group [(ngModel)]="particleStyle" (ngModelChange)="setParticleParticle($event)">
    <mat-radio-button value="circle">
      Circle
    </mat-radio-button>
    <mat-radio-button value="rect">
      Rectangle
    </mat-radio-button>
    <mat-radio-button value="line">
      Line
    </mat-radio-button>
  </mat-radio-group>
</div>
<div class="handler-control-row">
  <label>Amplitude Rotation</label>
  <mat-slider [min]="-approachPI" [max]="approachPI" [step]="approachPI / 4" discrete [displayWith]="formatRotation">
    <input matSliderThumb [(ngModel)]="amplitudeRotation" (ngModelChange)="setAmplitudeRotation($event)">
  </mat-slider>
  <div><span>Current rotation: </span>{{ formatRotation(amplitudeRotation) }}</div>
</div>
<div class="handler-control-row">
  <label>Single Amplitude Size</label>
  <mat-slider [min]="0.05" [max]="0.3" [step]="0.01" discrete [displayWith]="formatAmplitudeSize">
    <input matSliderThumb [(ngModel)]="amplitudeSize" (ngModelChange)="setAmplitudeSize($event)">
  </mat-slider>
  <div><span>Relative to the canvas(%): </span>{{ formatAmplitudeSize(amplitudeSize) }}</div>
</div>
<div class="handler-control-row">
  <label>Set Frequency To Second Wave</label>
  <mat-slider [min]="0.1" [max]="4" [step]="0.1" discrete [displayWith]="formatFrequency">
    <input matSliderThumb [(ngModel)]="frequency" (ngModelChange)="setFrequencyForSecondWave($event)">
  </mat-slider>
  <div><span>Frequency for second wave: </span>{{ formatFrequency(frequency) }}</div>
</div>
