.app-container {
  min-width: 1200px;
}

.app-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-width: 1200px;
  padding: 1rem;
  background:
    radial-gradient(circle at 25% -25%, #ffffff, #ffffffaa 3%, transparent 16%),
    radial-gradient(circle at 75% 125%, #ffffff, #ffffffaa 2%, transparent 16%),
    rebeccapurple;


  .title {
    font-size: 2rem;
    font-style: italic;
    margin-right: 1rem;
  }

  .description {
    //font-size: 0.5rem;
  }

  .app-header-icon {
    position: absolute;
    right: 1rem;
    vertical-align: middle;

    > img {
      width: 32px;
    }
  }
}

.app-content {
  position: relative;
  top: 80px;
}
