<section class="container">
  @for (artifact of artifacts; track artifact.title) {
    <mat-card class="item">
      <mat-card-header>
        <mat-card-title>{{ artifact.title }}</mat-card-title>
      </mat-card-header>
      @if (artifact.preview) {
        <img [src]="artifact.preview"  mat-card-image alt="">
      } @else {
        <mat-card-content>
          <ng-container *ngTemplateOutlet="footDesc"></ng-container>
        </mat-card-content>
      }
      <mat-card-actions *ngIf="artifact.preview">
        <button mat-raised-button color="primary" (click)="toDetail(artifact)">Detail</button>
      </mat-card-actions>
    </mat-card>
  }
</section>


<ng-template #footDesc>
  <p>These ideas were learned or inspired by
  <p>
    <a mat-raised-button color="accent" href="https://www.youtube.com/watch?v=70MQ-FugwbI&list=PLRqwX-V7Uu6ZV4yEcW3uDwOgGXKUUsPOM" target="_blank">{{ '@TheCodingTrain' }}</a>
  </p>
  <p>and</p>
  <p>
    <a mat-raised-button color="accent" href="https://www.youtube.com/@Frankslaboratory" target="_blank">{{ '@Frankslaboratory' }}</a>
  </p>
  <p>Thanks to them and keep enjoying <span class="matter-text">creative coding</span>.</p>
</ng-template>

