.container {
  display: flex;
  flex-flow: column wrap;
  width: 800px;
  margin: 0 auto;

  .item {
    flex: 0 1 300px;
    align-self: flex-start;
    width: 240px;
    margin: 1.5rem;
    transition: all ease 0.3s;

    &:nth-of-type(2n) {
      align-self: flex-end;
    }

    &:nth-of-type(n+2) {
      margin-top: -50px;
    }

    &:hover {
      transform: scale(1.1) rotate(2deg);
      box-shadow: 0 0 6px 6px #aaf6;
    }
  }
}

.matter-text {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;

  color: transparent;
  background: linear-gradient(8deg, #da49e7 15%, #9154de, #2ac6d5, #1fea8e 85%);
  background-size: 200% 200%;
  -webkit-background-clip: text;

  animation: bg-effect 2s alternate infinite;
  @keyframes bg-effect {
    from {
      background-position: left;
    }
    to {
      background-position: right;
    }
  }
}
