.container {
  padding: 0 20%;

  .main {
    display: flex;

    canvas {
      background: black;
      flex: 0 0 600px;
      aspect-ratio: 3 / 2;
    }

    .canvas-handler {
      flex: 0 0 120px;
      margin: 0 1rem;
    }
  }

  .footer {
    height: 2rem;
    //background: #fff5;
  }

}
