.container {
  padding: 0 20%;

  .main {
    display: flex;

    canvas {
      background: black;
      flex: 0 0 600px;
      aspect-ratio: 3 / 2;
    }

    .canvas-handler {
      flex: 1 0 120px;
      margin: 0 1rem;

      .title {
        font-size: 1.2rem;
        padding-bottom: 4px;
        border-bottom: 1px solid #fff6;
      }
    }
  }

  .footer {
    margin: 1rem 0;
  }

}
