<div class="handler-control-row">
  <label>Particle Style</label>
  <mat-radio-group [(ngModel)]="particleStyle" (ngModelChange)="setParticleStyle($event)">
    <mat-radio-button value="square">Square</mat-radio-button>
    <mat-radio-button value="circle">Circle</mat-radio-button>
    <mat-radio-button value="ascii">ASCII</mat-radio-button>
  </mat-radio-group>
</div>
<div class="handler-control-row">
  <label>Render Pattern</label>
  <mat-radio-group [(ngModel)]="particleRenderPattern" (ngModelChange)="setParticleRenderPattern($event)">
    <mat-radio-button value="fill">Fill</mat-radio-button>
    <mat-radio-button value="stroke">Stroke</mat-radio-button>
  </mat-radio-group>
</div>
<div class="handler-control-row">
  <label>Particle Size</label>
  <mat-slider [min]="particleSizeMin" [max]="particleSizeMax">
    <input matSliderThumb [(ngModel)]="particleSize" (ngModelChange)="setParticleSize($event)">
  </mat-slider>
  <div>
    <label style="margin-right: 4px">size:</label>
    <span>{{ particleSize }}px</span>
  </div>
</div>


